#header-wrapper {
  background: url('../../images/header-background.jpg') no-repeat;
  background-size: cover;
}
#header-wrapper .header-wrapper-background {
  background: rgba(10, 10, 10, 0.3);
}
#header {
  padding: 40px 0 80px;
  color: #fbfdfd;
}
#header #main-menu a {
  display: inline-block;
  padding: 0 20px;
  color: #fbfdfd;
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  height: 43px;
  text-decoration: none;
}
#header #main-menu a:hover,
#header #main-menu a.active {
  text-decoration: none;
  border-bottom: 4px solid #fbfdfd;
}
#header .slogan-holder .slogan {
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: 700;
}
#header .slogan-holder .description {
  font-size: 20px;
  font-weight: 300;
}
body.page-main #content-wrapper {
  padding: 100px 0;
}
#content.page-main .objects-list .object-list-row {
  margin-top: 60px;
}
#content.page-main .objects-list .object-list-row:nth-child(1) {
  margin-top: 0px;
}
#content.page-main .objects-list .object-item {
  color: #fbfdfd;
  overflow: hidden;
}
#content.page-main .objects-list .object-item .object-wrapper {
  position: relative;
}
#content.page-main .objects-list .object-item .object-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(10, 10, 10, 0.3);
}
#content.page-main .objects-list .object-item .object-image {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}
#content.page-main .objects-list .object-item .object-name {
  width: 100%;
  min-height: 74px;
  position: absolute;
  z-index: 3;
  font-size: 34px;
  font-weight: 700;
  bottom: 55%;
  left: 0;
}
#content.page-main .objects-list .object-item .object-description {
  width: 100%;
  min-height: 74px;
  position: absolute;
  font-size: 24px;
  font-weight: 300;
  z-index: 3;
  top: 55%;
  left: 0;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background: #f8fbf9;
}
#body-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 425px;
}
input,
button {
  outline: none;
}
#footer-wrapper {
  background: #24292B;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
#footer {
  color: #fbfdfd;
  padding-top: 60px;
  padding-bottom: 40px;
}
#footer .footer-slogan {
  font-size: 30px;
  font-weight: 700;
}
#footer .footer-description {
  font-size: 28px;
}
#footer .feedback-form {
  margin-top: 40px;
}
#footer .feedback-form > input,
#footer .feedback-form > button {
  border: 0px none;
  border-bottom: 2px solid #fbfdfd;
  background: none;
  padding: 15px 15px;
  font-size: 24px;
}
#footer .feedback-form > .credentials {
  font-weight: 300;
}
#footer .copyright {
  margin-top: 60px;
  font-weight: 700;
  font-size: 28px;
  color: #545a5c;
}
#content.page-objects .map {
  padding-left: 0;
  padding-right: 0;
}
#content.page-objects .objects-list {
  padding-top: 10px;
  padding-bottom: 10px;
}
#content.page-objects .object-item {
  padding: 20px 10px;
  color: #545a5c;
  font-size: 20px;
}
@media (max-width: 1199px) {
  #content.page-objects .object-item {
    padding: 0 0 40px 0;
  }
}
#content.page-objects .object-item .object-image {
  width: 100%;
  height: auto;
}
#content.page-objects .object-item .object-name {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  #content.page-objects .object-item .object-name {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  #content.page-objects .object-item .object-name {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=app-less.css.map */