html, body {
  font-family: GothamPro, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
}

body {
  &.color-light {
    background: @color-background-light;
  }
  &.color-default {
    background: @color-background-body;
  }
}

input, button {
  outline: none;
}

.btn {
  &.btn-property {
    font-size: 15px;
    font-weight: 400;
    padding: 13px 50px 15px;
    border-radius: 5px;

    &.btn-two-line {
      line-height: 16px;
      padding-top: 8px;
      padding-bottom: 9px;
    }

    &.btn-danger {
      border: 0px none;
      background: #d48246;
      text-shadow: none;
      box-shadow: none;

      &:hover {
        background: #af6d47;
      }
    }
  }
}

#body-wrapper {
  @media (min-width: @screen-sm-min) {
    min-height: 100%;
    position: relative;
    padding-bottom: 301px;
  }
}

#content-welcome-wrapper {
  background: @color-background-container-welcome;
  border-bottom: 1px solid @color-border-grey;

  #content-welcome {
    padding-top: 70px;
    padding-bottom: 90px;
    font-size: 14px;
    line-height: 22px;
    color: #484848;
  }
}

#header-wrapper.default {
  background: @color-background-container-header;

  @media (min-width: @screen-md-min) {
    height: 59px;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    height: 103px;
  }
}

.header-wrapper-background {
  @media (min-width: @screen-sm-min) {
    background: @color-background-container-header;
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  @media (min-width: @screen-md-min) {
    height: 59px;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    height: 103px;
  }
}

#header.default {
  padding-top: 12px;
  padding-bottom: 12px;
  color: @color-text-light;
  border-bottom: 1px solid @color-border-grey;

  #main-menu {
    @media (max-width: @screen-sm-max) {
      margin-top: 10px;
    }

    a {
      color: @color-text-less-dark;
      font-size: 14px;
      font-weight: 600;
      line-height: 34px;
      height: 34px;
      text-decoration: none;

      &.active {
        text-decoration: none;

        > span {
          padding: 0 5px 5px;
          border-bottom: 2px solid @color-text-less-dark;
        }

        &:hover {
          color: @color-text-less-dark;
        }
      }

      &:hover {
        text-decoration: none;
        color: @color-text-ginger;
      }
    }
  }

  .slogan-holder {
    display: none;
  }
}

#footer {
  background: #24292B;

  @media (min-width: @screen-sm-min) {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  color: @color-text-light;
  padding-top: 50px;
  padding-bottom: 25px;

  .footer-slogan {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .footer-description {
    font-size: 18px;
    margin: 0;
  }

  .feedback-form {
    .clearfix();
    margin-top: 40px;

    input {
      border: 0px none;
      border-bottom: 1px solid @color-text-light;
      background: none;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 15px;
      line-height: 20px;

      &::-webkit-input-placeholder {
        text-align: center;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
      }

      &:-ms-input-placeholder {
        text-align: center;
      }
    }

    .feedback-submit-holder {
      border-bottom: 1px solid @color-text-light;
      line-height: 0;
    }

    button {
      border: 0px none;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 20px;
      font-size: 15px;
      font-weight: 600;
      background: url('/images/shevron-right-white.png') no-repeat right 12px;
      line-height: 20px;

      &:hover {
        color: @color-text-ginger;
        background-image: url('/images/shevron-right-ginger.png');
      }
    }

    > .credentials {
      font-weight: 300;
    }
  }

  .copyright {
    margin-top: 50px;
    font-size: 15px;
    color: #6a6a6a;
  }
}

.modal {
  .modal-dialog {
    margin-top: 50px;
  }

  .modal-body {
    @media (min-width: @screen-sm-min) {
      padding: 30px 45px;
    }

    color: @color-text-less-dark;
    font-size: 14px;
    line-height: 22px;
  }

  .modal-title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 30px;
    color: @color-text-less-dark;
    text-align: center;
  }

  input {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 15px 10px 15px 25px;
    height: 44px;
    color: @color-text-less-dark;
  }

  .close {
    &.outside {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -20px;
      color: #ffffff;
      opacity: 1;
      text-shadow: none;
    }
  }

  &.session-message {
    .modal-title {
      margin-bottom: 100px;
    }

    .modal-body {
      @media (min-width: @screen-sm-min) {
        padding-bottom: 170px
      }
    }
  }
}