@color-text-light: #ffffff;
@color-text-less-dark: #6a6a6a;
@color-text-dark: #000000;
@color-background-body: #ffffff;
@color-background-container-welcome: @color-background-body;
@color-background-container-header: @color-background-body;
@color-background-light: #f9fafa;
@color-background-wrapper: rgba(52, 52, 52, 0.3);
@color-border-dark: @color-text-less-dark;
@color-border-light: @color-text-light;
@color-border-grey: #f2f2f2;
@color-text-ginger: #d38246;

@padding-block-lg-wide: 100px;
@padding-block-lg-medium: 60px;
@padding-block-lg-small: 30px;
@padding-block-lg-tiny: 15px;

@font-size-normal: 15px;
@font-size-medium: 18px;
@font-size-big: 22px;
@font-size-extra-big: 36px;
@font-size-small: 16px;

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-tablet: @screen-sm-min;
@screen-phone: @screen-xs-min;
@screen-desktop: @screen-md-min;
@screen-lg-desktop: @screen-lg-min;

//text weight classes
.text-weight-bold{
  font-weight: 700;
}
.text-weight-semi-bold{
  font-weight: 600;
}
.text-weight-extra-bold{
  font-weight: 800;
}
.text-weight-normal{
  font-weight: 400;
}
.text-weight-light{
  font-weight: 300;
}

//mixed classes for text
.text-attention{
  .text-weight-normal;
  font-size: @font-size-normal;
  color: @color-text-less-dark;
}
.text-attention-big{
  .text-weight-normal;
  font-size: @font-size-big;
  color: @color-text-less-dark;
}
.text-small{
  font-size: @font-size-small;
  color: @color-text-less-dark;
}
.text-normal{
  font-size: @font-size-normal;
  color: @color-text-less-dark;
}
.text-medium{
  font-size: @font-size-medium;
  color: @color-text-less-dark;
}
.text-caption{
  .text-weight-bold;
  font-size: @font-size-big;
  color: @color-text-less-dark;
}
.text-caption-big{
  .text-weight-bold;
  font-size: @font-size-extra-big;
  color: @color-text-less-dark;
}

strong{
  .text-weight-bold;
}

.no-float{
  float: none;
}