#content.page-news-all {
  @media (min-width: @screen-sm-min) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: @screen-xs-max) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  background: @color-background-light;

  .like-image {
    height: 369px;
  }

  .row {
    &:nth-child(1) {
      .article:nth-child(1) {
        padding-top: 0;
      }
    }

    @media (min-width: @screen-sm-min) {
      &:nth-child(1) {
        .article:nth-child(2) {
          padding-top: 0;
        }
      }
    }
  }

  .article {
    padding-top: 60px;

    @media (max-width: @screen-xs-max) {
      padding-top: 15px;
    }

    .article-image {
      padding-bottom: @padding-block-lg-tiny;

      img {
        width: 100%;
        height: auto;
      }
    }

    .article-cat {
      font-size: @font-size-normal;
      color: @color-text-less-dark;

      a {
        color: @color-text-less-dark;
        text-decoration: none;

        &:hover {
          color: @color-text-ginger;
        }
      }
    }
  }
}

#content.page-article {
  .article {
    @media (max-width: @screen-xs-max) {
      padding-top: 0;

      .article-image-holder {
        padding-left: 0;
        padding-right: 0;
      }
    }

    padding-top: @padding-block-lg-medium;
    padding-bottom: @padding-block-lg-medium;

    .article-image-holder {
      padding-bottom: @padding-block-lg-small;

      @media (max-width: @screen-xs-max) {
        padding-bottom: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .article-name-holder {
      padding-bottom: @padding-block-lg-small;
      color: #484848;
    }

    .article-content-holder {
      .article-content {
        font-size: @font-size-normal;
        color: @color-text-less-dark;
      }
    }

    .news-paginator {
      margin-top: 40px;

      .next, .previous {
        a {
          color: @color-text-dark;
          font-weight: 600;
          font-size: 15px;
          text-decoration: none;

          &:hover {
            color: @color-text-ginger;
            text-decoration: none;
          }
        }
      }

      .next {
        text-align: right;

        a {
          padding-right: 15px;
          background: url('/images/shevron-right-black.png') no-repeat right center;

          @media (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background: url('/images/shevron-right-black@2x.png') no-repeat right center;
            background-size: 7px 13px;
          }

          &:hover {
            background: url('/images/shevron-right-black-hover.png') no-repeat right center;

            @media (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
              background: url('/images/shevron-right-black-hover@2x.png') no-repeat right center;
              background-size: 7px 13px;
            }
          }
        }
      }

      .previous {
        text-align: left;

        a {
          padding-left: 15px;
          background: url('/images/shevron-left-black.png') no-repeat left center;

          @media (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background: url('/images/shevron-left-black@2x.png') no-repeat left center;
            background-size: 7px 13px;
          }

          &:hover {
            background: url('/images/shevron-left-black-hover.png') no-repeat left center;

            @media (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
              background: url('/images/shevron-left-black-hover@2x.png') no-repeat left center;
              background-size: 7px 13px;
            }
          }
        }
      }
    }
  }
}