#content.page-contacts{
  padding-top: @padding-block-lg-medium;
  padding-bottom: 0px;
  color: @color-text-less-dark;

  .map-row{
    padding-top: @padding-block-lg-medium;
  }

  a[href^="mailto::"] {
    color: @color-text-less-dark;

    &:hover{
      color: #ce824c;
      text-decoration: underline;
    }
  }
}