#content.page-service {
  .service-list {
    background: @color-background-light;

    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: @screen-xs-max) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .about-button{
    text-decoration: none;
    color: @color-text-less-dark;

    &:hover{
      color: @color-text-ginger;
    }

    &:first-child {
      .service{
        padding-top: 0;
      }
    }
  }

  .service {
    padding-top: 60px;

    @media (max-width: @screen-xs-max) {
      padding-top: 15px;
    }

    .service-description{
      font-size: 15px;

      .name{
        font-size: 15px;
        font-weight: 600;
        margin-top: 0;
      }

      .description{
        font-size: 14px;
        margin-bottom: 0;
      }
    }

    .service-image {
      img{
        width: 100%;
        height: auto;
      }
    }

    @media (min-width: @screen-sm-min) {
      display: table;
      table-layout: fixed;

      .table-cell{
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}