body.page-main {
  #content-wrapper {
    padding-top: @padding-block-lg-medium;

    @media (max-width: @screen-xs-max) {
      padding-top: 0;
    }
  }
}

#header-wrapper.main {
  background: url('/images/header-background.jpg') no-repeat center bottom;
  background-size: cover;

  .header-wrapper-background {
    background: @color-background-wrapper;
    position: relative;
    height: auto;
    width: auto;
  }
}

#header.main {
  padding-top: 40px;
  padding-bottom: 110px;
  color: @color-text-light;

  @media (max-width: @screen-xs-max) {
    padding-bottom: 24px;
  }

  #main-menu {
    @media (max-width: @screen-sm-max) {
      margin-top: 20px;
    }

    a {
      color: @color-text-light;
      font-size: 14px;
      font-weight: 600;
      line-height: 34px;
      height: 34px;
      text-decoration: none;
      padding-left: 5px;
      padding-right: 5px;

      &.active {
        text-decoration: none;

        > span{
          padding: 0 5px 5px;
          border-bottom: 2px solid @color-text-light;
        }

        &:hover{
          color: @color-text-light;
        }
      }

      &:hover{
        text-decoration: none;
        color: @color-text-ginger;
      }
    }
  }

  .slogan-holder {
    .slogan {
      margin-top: 116px;
      margin-bottom: 55px;
      font-weight: 600;
      font-size: 28px;

      @media (max-width: @screen-xs-max) {
        margin-top: 20px;
      }
    }
    .description {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

#content.page-main {
  .objects-list {
    @media (max-width: @screen-xs-max) {
      padding: 15px 0;
      margin: 0;
    }

    .object-item {
      color: @color-text-light;
      margin-bottom: 60px;
      padding-left: 37.5px;
      padding-right: 37.5px;

      @media (max-width: @screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
        margin-top: 15px;
        margin-bottom: 0;
        display: block;

        &:last-child{
          margin-bottom: 15px;
        }
      }

      .object-wrapper {
        position: relative;
      }

      .object-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: @color-background-wrapper;
      }

      .object-image {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .object-name {
        width: 100%;
        min-height: 72px;
        position: absolute;
        z-index: 3;
        bottom: 50%;
        left: 0;
        padding: 0 20px;
        font-size: 22px;
        font-weight: 600;
        line-height: 36px;
      }

      .object-description {
        width: 100%;
        min-height: 44px;
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 0;
        padding: 0 20px;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}