#content.page-object-all {
  .map {
    padding-left: 0;
    padding-right: 0;
  }
  .objects-list {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .object-item {
    a {
      color: @color-text-less-dark;
      text-decoration: none;

      &:hover {
        color: @color-text-ginger;
        text-decoration: none;

        .object-properties {
          color: @color-text-ginger;
        }
      }
    }

    .object-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    .object-properties {
      font-size: 13px;
      font-weight: 300;
    }

    .object-name {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  @media (min-width: @screen-sm-min) {
    .objects-list {
      padding-left: 45px;
      padding-right: 45px;

      .object-item {
        display: table;
        width: 100%;
        height: auto;
        margin-bottom: 30px;

        .object-image {
          float: none;
          display: table-cell;
          height: 100%;
        }

        .object-description {
          float: none;
          display: table-cell;
          vertical-align: middle;
          height: 100%;
        }
      }
    }
  }
}

#content.page-object {
  color: @color-text-less-dark;

  .object-holder {
    padding-top: @padding-block-lg-small;
    padding-bottom: @padding-block-lg-small;
  }

  .object-header{
    margin-bottom: 40px;
  }

  .object-caption{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .object-medium-description {
    font-size: 14px;
    margin-bottom: 50px;
  }

  @media (max-width: @screen-xs-max) {
    .object-caption {
      text-align: center;
    }

    .object-feedback-button-holder {
      text-align: center;
    }
  }

  .modal-object-feedback{
    text-align: center;
    max-width: 450px;
    margin: 0 auto;

    .modal-object-submit{
      margin-top: 25px;
    }
  }

  .rooms {
    .room {
      .room-image {
        img {
          width: 100%;
          height: auto;
        }
      }

      .room-available-true {
        color: green;
      }

      .room-available-false {
        color: red;
      }

      @media (max-width: 480px) {
        margin-bottom: 20px;
      }

      @media (max-width: @screen-xs-max) and (min-width: 481px) {
        margin: 0 auto 20px;
      }

      @media (max-width: @screen-xs-max) {
        max-width: 480px;

        .room-cell {
          text-align: center;

          .room-cell-caption {
            display: block;
          }
        }

        .room-feedback {
          margin-top: 10px;
        }

        .room-image {
          margin-bottom: 10px;
        }
      }

      @media (min-width: @screen-sm-min) {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 40px;

        .room-cell {
          vertical-align: middle;
          display: table-cell;
          float: none;
          text-align: center;
        }

        .room-feedback {
          text-align: right;
        }
      }
    }
  }
}